h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: black;
}
h2{
    font-size: 30px;
    width: 100%;
}
.link-button{
    font-size: 35px;
    text-decoration: none;
}
.first-image img{
    width: 100%;
    padding: 0;
}
.cycle-photo{
    display: flex;
    width: 100%;
    padding: 10px 10px 10px;
}
.cycle-web img{
    width: 100%;
    padding: 10px 10px 10px 10px;
}
.cycle-web{
    width: 100%;
    padding: 1%;
}
.h2-add{
    width: 100%;
}
h3{
    font-weight: normal;
    font-size: 30px;
}
.coustomer{
    display: flex;
}
.coustomer-service{
    display: flex;
    width: 30px;
}
.service{
    display: flex;
}
.service div{
    width: 200px;
    height: 200px;
    padding-left: 8%;
}
.coustomer-review{
    display: flex;
}
.coustomer-review div{
    width: 200px;
    height: 200px;
    padding-left: 10%;
}
.coustomer-review div img{
    border-radius: 50%;
}